*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  color: hsl(228, 12%, 48%);
}

body{
    background-color: hsl(30, 38%, 92%) ;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

main{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    max-width: 700px;
    max-height: 500px;
    justify-content: center;
    margin: auto;
}

img{
    height: 100%;
    border-radius: 10px 0 0 10px;
}

article{
    background-color: hsl(0, 0%, 100%);
    border-radius: 0 10px 10px 0;
    padding: 20px;
}

h3, strong{
    font-family: 'Fraunces', sans-serif;
    font-weight: 700;
}

h3{
  font-size: 46px;
  color: hsl(212, 21%, 14%);
}

h4{
  font-size: 20px;
  letter-spacing: .2cm;
  text-transform: uppercase;
}

strong{
  color: hsl(158, 36%, 37%);
  font-size: 44px;
}

button{
  outline: none;
  border: none;
  background-color: hsl(158, 36%, 37%);
  color: hsl(0, 0%, 100%);
  font-weight: 500;
  font-size: 20px;
  padding: 14px 24px;
  border-radius: 10px;
  width: 80%;
}

h3, h4, .price, p{
  padding-bottom: 18px;
}

span{
  text-decoration: line-through;
  margin-left: 20px;
}